<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tony's Webshop - Admin - Login</title>
</head>
<body>
<form action="/adminlogin" method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <br></br>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <br></br>
    <button type="submit">Login</button> <p th:text="${errormessage}"></p>
</form>
</body>
</html>