<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tony's Webshop - Categories</title>
</head>
<body>
<h1>Welcome <span th:text="${user}"></span>!</h1>
<form method="post" action="/search">
    <label for="search">Search: </label>
    <input type="text" placeholder="Search for an item..." size="22" id="search" name="search">
    <button type="submit"></button>
</form>
<p>______________________________________</p>

<form method="get" action="/cart">
    Go to Cart: <button type="submit">Go to cart</button>
</form>

<h2>Categories:</h2>

<h3 th:each="c:${categories}">
    <a th:href="@{'/category/' + ${c.getName().toLowerCase()}}" th:text="${c.getName()}"></a>
</h3>

<form action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>