<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tony's Webshop - Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<ol>
    <li th:each="c : ${cartitems}" th:text="@{${c.getItem().getName()} + ' x ' + ${c.getQuantity()} + '&emsp;' + ${(c.getItem().getPrice() * c.getQuantity())} + ' kr'}"></li>
</ol>
<p th:text="@{'Total: ' + ${totalsum} + ' kr'}"></p>
<form method="get" action="/cart">
    <button type="submit">Back</button>
    <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>

    <button formmethod="post" type="submit" formaction="/order">Place Order</button>
</form>


</body>
</html>